:root {
	--bg-color: #f0f9f4;
	--text-color: #2ecc71;
	--bg-second-color: #fff;
	--reverse-color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #112;
    	--text-color: #5a7eff;
		--bg-second-color: #444;
		--reverse-color: white;
  	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: var(--bg-second-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

h1 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--bg-second-color);
  background-color: var(--bg-color);
  caret-color: var(--reverse-color);
}

button {
  padding: 10px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: color-mix(in srgb, var(--text-color), var(--reverse-color) 30%);
}

#bookmark-list {
  list-style: none;
  padding: 0;
}

#bookmark-list li {
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid var(--bg-second-color);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookmark-list a {
  color: var(--text-color);
  text-decoration: none;
}

#bookmark-list button {
  background-color: red;
  padding: 5px 10px;
}

#bookmark-list button:hover {
  background-color: color-mix(in srgb, red, var(--reverse-color) 30%);
}
